---
import { Image } from "astro:assets";
import profileImage from "../../assets/astro.svg";
---

<div class="container">
    <Image
        src={profileImage}
        alt="Shows your profile"
        class="profile-image"
        width={150}
        height={50}
        loading="eager"
        quality="high"
    />
    <p>Nombre del player</p>
</div>

<style>

</style>
